/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
  background: #FF5E99;
  color:#fff;
  text-shadow: none;
}
::selection {
  background:#FF5E99;
  color:#fff;
  text-shadow: none;
}

/*Header*/
/*======*/

header .site_name {
  color: #cb4b16;
  display: inline;
  font-size: 5em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
header .site_name a {
  text-decoration: none;
}
header .tagline {
  margin-top: 0;
  text-transform: uppercase;
}
header img.wrench {
  float: right;
}

@media only screen and (max-width: 480px) {
  header .site_name {
    font-size: 1em;
  }
  header img.wrench, header .tagline {
    display: none;
  }
}

/*Articles*/
/*======*/

header.post p.meta {
  float: right;
}

article table {
  margin-left: 40px;
}

article table td, article table th {
  padding: 10px 5px 0 5px;
}

article table tbody tr:nth-child(odd) { 
  background: #eee8d5;
}

article table td:first-child {
  color: #268bd2;
}

article hr {
  margin-top: 2em;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  text-transform: capitalize;
}

/*Table of Contents*/
/*=================*/

ul#toc {
  display: inline;
  list-style: none;
}
ul#toc li {
  display: inline;
  text-transform: lowercase;
}
h4.toc {
  display: inline;
}

/*Code Blocks*/
/*===========*/

.highlight pre {
  background-color: #002b36;
  color: #839496;
}

code.vim .k {
  color: #268bd2;
}
