/*Global Reset*/
/*============*/

body {
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
}

/*Header*/
/*======*/

header img.wrench {
}

@media only screen and (max-width: 480px) {
  header img.wrench, header p.tagline {
    display: none;
  }
}
