<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/responsive_grid.css">
    <link rel="stylesheet" href="/css/solarized_light.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <header>
      <img class="wrench" src="{{ site.url }}/images/wrench.png"/>
      <h1 class="site_name"><a href="/">{{ site.name }}</a></h1><br/>
      <span class="tagline">Notes from a ruby developer</span>
    </header>

    <section class="section group">
      {{ content }}
    </section>

    <footer class="section group">
      <p class="contact col span_2_of_3">
        Andrew Hartford<br />
        Software Developer<br />
        Boston, MA
      </p>
      <p class="col span_1_of_3">
        <a href="https://github.com/ajh">github.com/ajh</a><br />
        <a href="https://doxo.com">doxo inc</a><br />
      </p>
    </footer>
  </body>
</html>
