<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/responsive_grid.css">
    <link rel="stylesheet" href="/css/solarized_light.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ site.url }}/js/app.js"></script>
  </head>

  <body>
    <header class="section group">
      <img class="wrench" src="{{ site.url }}/images/wrench.png"/>
      <h1 class="site_name"><a href="/">{{ site.name }}</a></h1><br/>
      <span class="tagline">Notes from a ruby developer</span>
    </header>

    <section class="section group">
      {{ content }}
    </section>

    <footer class="section group">
      <p class="contact col span_2_of_3">
        Andrew Hartford<br />
        Software Developer<br />
        Newton, MA
      </p>
      <p class="col span_1_of_3">
        <a href="https://github.com/ajh">github</a><br />
        <a href="https://plus.google.com/115164459612570961998">google
          plus</a><br />
        <a
          href="http://www.linkedin.com/pub/andy-hartford/2/b33/a42/">linkedin</a><br
        />
        <a href="https://doxo.com">doxo inc</a><br />
      </p>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44454541-1', 'ajh.github.io');
      ga('send', 'pageview');
    </script>
  </body>
</html>
