---
layout: default
---

<div class="col span_2_of_3">
  <header class="post">
    <p class="meta">{{ page.date | date_to_string }}</p>
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post">
    {{ content }}
  </article>
</div>

<aside class="col span_1_of_3">
  <h3>Other Posts</h3>
  <ul class="posts">
    {% for post in site.posts %}
      <li class="post">
        <span class="date">{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
</aside>
